$primary-col: #3251bf;

@font-face {
	font-family: "Gilroy-Regular";
	src: url("./Gilroy/Gilroy-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy-Bold";
	src: url("./Gilroy/Gilroy-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy-Black";
	src: url("./Gilroy/Gilroy-Black.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Gilroy-Regular", sans-serif;
	height: 100vh;
	overflow: scroll;
	// overflow: hidden;
	overflow-x: hidden !important;
	background: linear-gradient(
		to right,
		rgba(#838bc5, 0.2),
		rgba(#838bc5, 0.4),
		rgba(#838bc5, 0.4),
		rgba(#838bc5, 0.2)
	);
	button {
		border-radius: 5px;
	}
	.sidebar-container {
		background-color: $primary-col;
		padding: 30px 50px 50px 50px;
		position: relative;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: none;
		overflow: hidden;
		z-index: 100;
		padding-top: 60px;
		&.side-bar-show {
			animation: slide-right 0.5s ease-in-out forwards;
		}
		&.side-bar-hide {
			animation: sidebar-slide-left 0.5s ease-in-out forwards;
		}
		@keyframes slide-right {
			from {
				transform: translateX(-100%);
			}
			to {
				transform: translateX(0%);
			}
		}
		@keyframes sidebar-slide-left {
			from {
				transform: translateX(0%);
			}
			to {
				transform: translateX(-100%);
			}
		}

		ul {
			list-style: none;
			color: white;
			margin-top: 40px;

			li {
				margin-bottom: 20px;

				a {
					color: white;
					text-decoration: none;
				}
			}
		}
		.logo {
			svg {
				height: 100px;
				width: 255px;
			}
		}
		.close {
			position: absolute;
			right: 10px;
			top: 30px;
			padding: 5px 10px;
			color: white;
		}
		.sidebar-social {
			width: max-content;
			background-color: #fff;
			padding: 10px;
			border-radius: 10px;

			a {
				text-decoration: none;
			}
			svg {
				height: 30px;
				fill: $primary-col;
			}
		}
	}
	.hamburger {
		display: none;
	}
	@media screen and (max-width: 550px) {
		.sidebar-container {
			display: block;
			transform: translateX(-100%);
		}
		.hamburger {
			display: block;
		}
	}
	.whole-container {
		width: 100%;
		position: relative;
	}
	.container {
		width: 100%;
		max-width: 1000px;
		margin: auto;
	}
	.primary-col-text {
		color: $primary-col;
	}
	.inner-container {
		height: 100vh;
		padding: 20px;
		opacity: 0;
		overflow: hidden;
		.content-container {
			height: 100%;
			display: flex;
			margin: 0;
			align-items: center;
			.main-content {
				display: flex;
				gap: 50px;
				align-items: center;
				.text-container {
					.heading-container {
						.heading {
							font-family: "Gilroy-Bold", sans-serif;
							font-size: 64px;
						}
					}
					.info-container {
						margin-top: 20px;
						.info {
							font-size: 20px;
						}
						button {
							font-family: "Gilroy-Bold", sans-serif;
							margin-top: 20px;
							padding: 15px 30px;
							color: white;
							background-color: $primary-col;
							cursor: pointer;
							outline: none;
							border: none;
						}
					}
				}
				.image-container {
					img {
						max-height: 450px;
						max-width: 420px;
					}
				}
			}
			@media screen and (max-width: 930px) {
				position: relative;
				.main-content {
					.text-container {
						.heading-container {
							.heading {
								font-size: 40px;
							}
						}
					}
				}
				.image-container {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					z-index: -1;
					img {
						opacity: 0.3;
					}
				}
			}
		}
		&.active {
			animation: fade-in 1s ease-in-out forwards 0.5s;
		}
		&.hide {
			animation: fade-out 1s ease-in-out forwards;
		}
	}
	.first-container {
		position: relative;
		.content-container {
			height: calc(100% - 55px);
		}
		.navbar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.logo {
				height: 50px;
				img {
					height: 50px;
					width: 300px;
				}
			}
			.links {
				display: flex;
				justify-content: space-between;
				align-items: center;
				a {
					text-decoration: none;
				}
				.other-links {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 40px;
					margin-right: 30px;
					a {
						color: black;
						text-decoration: none;
					}
				}
				.social-links {
					img {
						margin-right: 30px;
						height: 20px;
					}
				}
			}
			@media screen and (max-width: 800px) {
				.logo {
					img {
						width: 200px;
					}
				}
				.links {
					.other-links {
						a {
							font-size: 14px;
						}
					}
					.social-links {
						img {
							margin-right: 20px;
						}
					}
				}
				@media screen and (max-width: 650px) {
					.links {
						.social-links {
							img {
								margin-right: 10px;
							}
						}
						.other-links {
							gap: 10px;
							a {
								margin-right: 0;
								font-size: 14px;
							}
						}
					}
					@media screen and (max-width: 550px) {
						.logo {
							svg {
								width: 220px;
							}
						}
						.links {
							display: none;
						}
					}
				}
			}
		}
		.show-more {
			position: absolute;
			bottom: 20px;
			left: 0;
			right: 0;
			display: flex;
			justify-content: center;
			p {
				font-size: 18px;
				cursor: pointer;
				width: max-content;
				font-weight: bolder;
			}
		}
	}
	.fourth-container {
		.main-content {
			height: 100%;
		}
		.title-container {
			width: 100%;
			h1 {
				font-family: "Gilroy-Bold", sans-serif;
				font-size: 40px;
			}
		}
		.mobile-screen-container {
			display: none;
			padding: 20px;

			button {
				width: 200px;
				padding: 10px;
				background-color: $primary-col;
				color: white;
				outline: none;
				border: none;
			}
		}
		@media screen and (max-width: 730px) {
			padding: 0;
			.mobile-screen-container {
				display: flex;
				flex-direction: column;
				gap: 30px;
			}
			.popup-container {
				.popup-button-container {
					display: block;
					position: fixed;
					top: 0;
					left: 0;
					width: 100%;
					padding: 20px 30px;
				}
				#popup-close-btn {
					display: block;
					padding: 10px;
					background-color: $primary-col;
					color: white;
					outline: none;
					border: none;
					width: 100%;
				}
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				overflow: scroll;
				display: none;
				padding: 0 0 50px;
				margin-top: 75px;
				.timeline {
					padding: 20px;
				}
			}
		}
		.popup-button-container {
			display: none;
		}
		.timeline {
			margin: 0px auto;
			padding: 0 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 50px;
			.timeline-title {
				margin-left: 30px;
				font-family: "Gilroy-Bold", sans-serif;
				font-size: 40px;
			}
		}

		.outer {
			padding: 10px;
		}

		.card {
			&:last-child {
				padding-bottom: 0;

				&::after {
					display: none;
				}
			}
			position: relative;
			padding-left: 40px;
			padding-bottom: 50px;
			color: black;
			margin: 0;
		}

		.info {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		.title {
			position: relative;
			font-size: 24px;
			font-family: "Gilroy-Bold", sans-serif;
		}
		.title::before {
			content: "";
			position: absolute;
			width: 24px;
			height: 24px;
			background: $primary-col;
			border-radius: 999px;
			left: -56.5px;
			transform: translateY(-1px);
		}
		.card::after {
			content: "";
			position: absolute;
			top: 0;
			left: -8.5px;
			width: 9px;
			height: 0;
			background-color: $primary-col;
			transition: height 2s linear;
		}
		.card.show::after {
			height: 100%;
		}

		@media screen and (max-width: 880px) {
			.card {
				padding-bottom: 20px;
			}
		}
	}
	.fifth-container {
		display: flex;
		align-items: center;
		justify-content: center;
		.fifth-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 50px;
		}
		.text-container {
			h1 {
				font-family: "Gilroy-Bold", sans-serif;
				font-size: 64px;
				@media screen and (max-width: 600px) {
					font-size: 40px;
				}
			}
		}
		.image-container {
			display: flex;
			gap: 50px;
			div {
				display: flex;
				gap: 50px;
			}
			img {
				height: 100px;
			}
			@media screen and (max-width: 600px) {
				flex-direction: column;
			}
		}
	}
	.sixth-container {
		padding: 0px;
		.content-container {
			height: 100%;
			width: 100%;
			flex-direction: column;
			justify-content: flex-end;
			.main-content {
				margin-bottom: 20px;
				height: calc(100% - 236px);
				@media screen and (max-width: 550px) {
					height: calc(100% - 371px);
				}
				.text-container {
					display: flex;
					text-align: center;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					p {
						font-family: "Gilroy-Bold", sans-serif;
						margin: 10px 0;
						font-size: 20px;
					}
					.whole-links-container {
						display: flex;
						gap: 30px;
						margin-top: 30px;
						@media screen and (max-width: 540px) {
							flex-direction: column;
							gap: 20px;
							margin-top: 15px;
						}
						.links-container {
							padding: 30px;
							background-color: white;
							border-radius: 10px;
							min-width: 210px;
							display: flex;
							align-items: center;
							justify-content: center;
							flex-direction: column;

							img {
								height: 45px;
							}
						}
					}
					.last-social-links {
						display: flex;
						align-items: center;
						justify-content: center;
						a {
							text-decoration: none;
						}
						svg {
							height: 30px;
							fill: black;
						}
						img {
							height: 25px;
							width: 25px;
							margin: 0 15px 0 10px;
						}
					}
				}
			}
		}
		.footer-container {
			width: 100%;
			background-color: $primary-col;
			.footer-content {
				max-width: 1000px;
				margin: auto;
				color: white;
				display: flex;
				align-items: center;
				gap: 100px;
				padding: 30px 20px 60px 20px;
				.text-container {
					width: 100%;
				}
				.links {
					display: flex;
					gap: 100px;
				}
				.logo {
					height: max-content;
					svg {
						height: 100px;
						width: 255px;
					}
				}
				ul {
					list-style: none;
					li {
						margin-top: 20px;
						a {
							text-decoration: none;
							color: white;
						}
					}
				}
				@media screen and (max-width: 730px) {
					gap: 0;
					width: 100%;
					justify-content: space-between;
					padding-bottom: 20px;
					.links {
						gap: 30px;
						justify-content: space-between;
					}
					@media screen and (max-width: 580px) {
						flex-direction: column;
						align-items: flex-start;

						.links {
							margin-top: 30px;
						}
					}
				}
			}
		}
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fade-out {
		from {
			opacity: 0.4;
		}
		to {
			opacity: 0;
		}
	}
}
